<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <link rel="stylesheet" href="/css/layout.css">
  <title> {{title}} </title>
</head>

<body>

  <div class="off-canvas off-canvas-sidebar-show">
    <!-- off-screen toggle button -->
    <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-left">
      <i class="icon icon-menu"></i>
    </a>

    <!-- off-screen left sidebar -->
    <div id="sidebar-left" class="off-canvas-sidebar">
      <a href="/" class="btn btn-link">Home</a>
      <a href="/blog" class="btn btn-link">Blog</a>
      <a href="/faq" class="btn btn-link">FAQ</a>
      <a href="/portfolio" class="btn btn-link">Portfolio</a>
      <a href="/about" class="btn btn-link">About</a>
      <a href="/contact" class="btn btn-link">Contact</a>
      
      <footer class="text-center text-secondary ">
        <p class="text-break">Created by Omar</p>
      </footer>
    </div>

    <a class="off-canvas-overlay" href="#close"></a>

    <div class="off-canvas-content">
      {{{body}}}
    </div>
  </div>

</body>

</html>