<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title> {{title}} </title>
</head>

<body>

  <header>
    <h1 class="text-center py-2 m-0">My Website</h1>
  </header>
  <div class="columns col-gapless" id="layout">
    <nav class="navbar text-right column col-12">
      <section class="navbar-section"></section>
      <section class="navbar-center">
        <a href="/home" class="btn btn-link">Home</a>
        <a href="/blog" class="btn btn-link">Blog</a>
        <a href="/guestbook" class="btn btn-link">GuestBook</a>
        <a href="/about" class="btn btn-link">About</a>
        <a href="/contact" class="btn btn-link">Contact</a>
      </section>
      <section class="navbar-section"></section>
    </nav>

    <main class="bg-dark column col-12">
      {{{body}}}
    </main>
  </div>
  <!--
    <div class="container">
    <div class="columns">
      <div class="column col-2"></div>
      <nav class="column col-1 bg-error">
        <ul class="nav">
          <li class="nav-item">
            <a href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a href="/guestBook">GuestBook</a>
          </li>
          <li class="nav-item">
            <a href="/about">About</a>
          </li>
          <li class="nav-item">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>


  <div class="column col-2"></div>
  </div>
  </div>
      -->

  <footer class="text-center text-secondary bg-warning m-0 ">
    FOOOOOOOOOTEEEEEEEEERRRRRRRRRRRRR
  </footer>

</body>

</html>