<h1> About</h1>
<div class="columns">
    <div class="column col-12 col-mx-auto bg-dark mt-2">
        <p>Hello there dear visitors! This is the first website developed by Omar Zidan. Please give me some feedback in the
            guestbook section, enter a comment to express your thoughts about my website! Have a nice day!</p>
    </div>
</div>