<h1 class="text-center text-bold"> About</h1>
<div class="container">
    <div class="columns">
        <div class="column col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor justo vel odio aliquam volutpat.
                Proin semper felis vitae tempor iaculis. Aliquam efficitur quam nisl, sed ultrices ex tincidunt id.
                Donec ac nisi consectetur, lacinia ante eu, varius eros. In at ligula nulla. Praesent vitae ipsum ex.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla
                facilisi. Mauris luctus felis non dui maximus, a auctor sapien consectetur. Phasellus et ipsum ipsum.

                Mauris nec nisi lorem. Proin euismod, erat et dictum suscipit, mi tortor rutrum tellus, eget lobortis
                velit arcu a turpis. Nunc elementum, eros ut luctus bibendum, mi quam porta diam, a sodales justo sem
                nec arcu. Sed convallis gravida mollis. Aenean scelerisque lacinia ex non accumsan. Cras sollicitudin
                tristique lectus, eu placerat ex scelerisque at. Fusce bibendum, massa non aliquet pretium, purus massa
                pellentesque libero, sit amet egestas metus purus sit amet augue. Nunc congue justo vitae risus aliquet,
                nec dapibus orci viverra. Aliquam sem nibh, fringilla non dolor non, venenatis maximus nisi. Nullam est
                augue, convallis eget elementum eu, egestas in leo. Etiam nec lacinia dolor, sed aliquet felis. Cras
                placerat lectus enim, nec hendrerit augue venenatis a. Donec sed posuere nibh.

                Nunc dictum nisi ut velit commodo, ut pharetra nibh mollis. Pellentesque nisi risus, sollicitudin sed
                volutpat id, aliquet sed massa. Donec porttitor arcu nec ipsum egestas, et vestibulum mauris egestas. Ut
                sagittis diam ut enim ullamcorper pharetra. Maecenas venenatis est ac viverra tincidunt. Pellentesque
                purus urna, luctus id imperdiet eget, mollis nec turpis. Etiam ut rutrum magna, ac tristique neque.
                Nullam et feugiat est. Nam vitae risus tincidunt, facilisis odio et, consectetur massa. Quisque sed
                aliquam ipsum, eget blandit dolor. Praesent ante erat, pellentesque eu rhoncus et, lacinia nec nisi.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
    </div>
</div>