<h1> About</h1>
<div class="columns">
    <div class="column col-12">
        <p>Lorem ipsum dolor sit amet, conswwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p>
    </div>
</div>