<h2>All Blog Posts</h2>
{{#if blog_posts.length}}
{{#each blog_posts}}
<div class="container">
    <div class="columns col-gapless">
        <div class=" column col-10 col-sm-8 text-center">
            <a href="/blog/{{id}}">{{title}}</a>
        </div>
        <div class="column col-2 col-sm-2">
            <button class="btn btn-error">delete</button>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<p>Sorry There are no blogposts</p>
{{/if}}
<a href="/create-blog-post">
    <button class="btn btn-primary" value="create post">create post</button>
</a>