<h1 class="text-center text-bold"> About</h1>
<div class="container">
    <div class="column col-12"></div>
    <div class="column col-12"></div>
    <div class="columns">
        <div class="column col-2"></div>
        <div class="column col-8">
            <p class="text-center">Name: Omar Zidan<br>Email : ziom18fy@student.ju.se<br>Age : 22 </p>
        </div>
        <div class="column col-2"></div>
    </div>
</div>