<h1> Contact</h1>
<div class="columns">
    <div class="column col-8 col-sm-12 col-mx-auto bg-dark mt-2">
        <p class="text-center text-break">Name: Omar Zidan<br>Email : ziom18fy@student.ju.se<br> </p>
    </div>
</div>