<h2 class="text-center text-bold">Create blog post </h2>
{{#if somethingWentWrong}}
<p>external error</p>
{{else}}
{{#if validationErrors.length}}
<p>Errors:</p>
<ul>
    {{#each validationErrors}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}


<div class="container">
    <div class="columns">
        <div class="column col-2"></div>
        <div class="form-group column col-8">
            <form action="/blog" method="POST">
                <label class="form-label">Title</label>
                <input class="form-input" type="text" name="title" value="{{title}}" placeholder="enter title ">
                <label class="form-label">content</label>
                <textarea class="form-input" placeholder="enter content" name="content" rows="3">{{content}}</textarea>
                <button class="btn btn-primary" value="create post">submit</button>
            </form>
        </div>
        <div class="column col-2"></div>
    </div>
</div>

{{/if}}