<h1>Create blog post </h1>
{{#if validationErrors.length}}
<p>Errors:</p>
<ul>
    {{#each validationErrors}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}


<div class="columns">
    <form class="column col-8 col-mx-auto" action="/blog/create-blog-post" method="POST">
        <div class="form-group">
            <label class="form-label">Title</label>
            <input class="form-input" type="text" name="title" value="{{title}}" placeholder="enter title">
            <label class="form-label">content</label>
            <textarea class="form-input" placeholder="enter content" name="content" rows="3">{{content}}</textarea>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="btn btn-primary" value="submit">submit</button>
        </div>
    </form>
</div>