<h1>Create portfolio project </h1>
{{#if validationErrors.length}}
<p>Errors:</p>
<ul>
    {{#each validationErrors}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}

<div class="columns">
    <form class="column col-mx-auto col-8" action="/portfolio/"  method="POST">
        <div class="form-group">
            <label class="form-label">Title</label>
            <input class="form-input" type="text" name="title" value="{{projectTitle}}" placeholder="enter title ">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <label class="form-label">content</label>
            <textarea class="form-input" placeholder="enter content" name="content"
                rows="5">{{projectContent}}</textarea>
            <button class="btn btn-primary" value="create post">submit</button>
        </div>
    </form>
</div>