<h1>Update guestbook reply</h1>
{{#if validationErrors.length}}
<p>Errors:</p>
<ul>
    {{#each validationErrors}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}
<form class="column col-8 col-mx-auto" action="/guestbook/comment/{{guestbookCommentId}}/editReply" method="POST">
    <div class="form-group">
        <label class="form-label" for="input-example-3">Message</label>
        <textarea class="form-input" id="input-example-3" name="reply" placeholder="enter a reply message"
            rows="3">{{reply.reply}}</textarea>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>
    <button class="btn btn-primary" value="edit">edit</button>
</form>