<div class="container">
    <div class="columns">
        <div class="column col-12">
            <h1 class="text-dark">Error 500! Internal server error!</h1>
            <p class="text-break"> The server encountered an internal error, which was unable to complete your request!Please try again or
                contact me!</p>
        </div>
    </div>
</div>