<div class="columns">
    <div class="column col-12">
        <h1 class="text-dark">Error 404! Page not found!</h1>
        <p>The page you are trying to visit is deleted or doesn't exist anymore! There could also be that your entered
            wrong url!</p>
    </div>
</div>