<div class="container">
    <div class="columns">
        <div class="column col-12"></div>
        <div class="column col-12"></div>
        {{#if somethingWentWrong}}
        <p>internal error with the server</p>
        {{/if}}
        {{#if project}}
        <div class="column col-2 col-sm-1"></div>
        <div class="card column col-8 col-sm-10">
            <div class="card-header">
                <div class="card-title h5 text-center text-bold text-dark">{{project.title}}</div>
            </div>
            <div class="divider"></div>

            <div class="card-body">
                <p class="text-break text-center text-dark">{{project.content}}</p>
            </div>
        </div>
        <div class="column col-2 col-sm-1"></div>
        {{else}}
        <p>no project with that id.</p>
        {{/if}}
    </div>
</div>