{{#if error}}
<div class="container">
    <div class="columns">
        <div class="column col-12">
            <h1 class="text-dark">{{errorType}}</h1>
            <p> {{errorDescription}}</p>
        </div>
    </div>
</div>
{{/if}}