html,body{
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center center;
    /* background-repeat: no-repeat; */
    background-attachment : fixed;
    color: gainsboro;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#header-main{
    width: 100%;
}
.navbar{
    background-color: #8693AB;
}

footer{
    background-color: #546A7B; 
    position: fixed;
    bottom: 0;
    width: 100%;
}
.off-canvas .off-canvas-sidebar{
    background-color:  #6290C8 !important;
    min-height: 100vh;
}

.off-canvas-content{
    padding-right: 80px !important;
}

#sidebar-left a{
    color: white;
    margin: 10px;
    display: block;
}
#sidebar-left a:hover{
    color: red;
}
 .column{
    padding: 0.8rem;
}
h1{
    padding: 0.4rem;
}
/**** guestbook ****/