/*,html{
    background-color: #212227;
    height: 100%;
    width: 100%;
}
#header-main{
    color: #887880;
}

#content{
    color: white;
    background-color: #546A76;
    min-height: 88%;
}
*/
html,body{
    background-color: #212227;
    color: gainsboro;
    min-height: 100vh;
}
#header-main{
    background-color: #887880;
}
.navbar{
    background-color: #8693AB;
}

.navbar-center a{
    color: white !important;
}

footer{
    background-color: #887880;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.off-canvas .off-canvas-sidebar{
    background-color:  #8693AB !important;
    min-height: 100vh;
}
#sidebar-left a{
    color: white;
    margin: 10px;
    display: block;
}